#head{
    color:#ffffff;
    border-color:#cccccc;
    border-style: solid;
    border-color: #cccccc;
    border: 20px;
}

.container{
    background-color:#ffffff;
    border-color: #777777;
    border: 20px;
    padding: 20px;
    margin: 0% auto;
}

h1{
    color:#ffffff;
    background-color: #4aaaa5;
    font-size: 30px;
    padding:10px;
    border: 20px;
    margin: 0 auto;
    border-right: 20px;
    border-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.links{
    float: right;
    list-style-type: none;
    color: #777777;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    
    
}

h2{
    color:#4aaaa5;
    padding-top:20px;
    padding-bottom: 20px;
    border: 20px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-top: 20px;
    border-right: 20px;
    border-left: 20px;

    
}

img{
    float: left;
    width: 10%;
    height: 10%;
}

p{
    color: #777777;
    float:left;
    margin: 0%;
    width:40%;
    height: 20%;
    padding-top: 20px;
    padding: 20px;
    padding-bottom: 20px;
}